form#generation{
  margin:20px 0;
}

p{ text-align:justify; }

#level{
  border: 10px solid #000;
  display: block;
  width: 720px;
  height: 240px;
}

.room{
  display: inline-block;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0;
  padding: 0;
  border: 2px solid #FFF;
}

.room.start{
  background: #fc0;
  border-color: #fc0;
}

.room.exit{
  background: #af1616;
  border-color: #af1616;
}

.room.primary{
  background: #176fb2;
  border-color: #176fb2;
}

.room.optional{
  background: #58ccdd;
  border-color: #58ccdd;
}

.room.impassable{
  background: #111;
  border-color: #111;
}

.room.save{
  background: #71b417;
  border-color: #71b417;
}

.room.ceiling{
  border-top: 2px solid #111;
}

.room.wall-left{
  border-left: 2px solid #111;
}

.room.wall-right{
  border-right: 2px solid #111;
}
